/* display block none */
#msg_box_ready{ display: none; } /* ready버튼 누르면 waiting 문구 */
.box_wrap .ready > button:active + div#msg_box_ready{ display: block !important; }

#msg_box_started{ display: none; } /* Started 문구 */
#msg_box_rps{ display: none; } /* 가위바위보 문구 */
#msg_box_count{ display: none; } /* 하나빼기 321 카운트 문구 */
#msg_box_result{ display: none; } /* 승패 문구 */

.box_wrap .Choices > div#card_info{ display: none; } /* 카드 랜덤 선택 */
.box_wrap .Choices > button:active + span + div#card_info{ display: block !important; }



.tv div.hand_wrap > span{ display: block; } /* 가위바위보 손 */
.tv div.hand_wrap > span.select{ display: block; } /* 남은 손 */



content{float: left; text-align: center; }

header{width:100%; padding-top:5%;  }
header > a{display: inline-block; }
header > a > img{width:246px; }

/* verify */
#verify{margin-top:24px; }
#verify > div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#verify span{
  margin-right: 8px;
}
#verify span.verify_icon{
  width:32px;
  height:32px;
}

#verify button{
  position: relative;
  margin-left:20px;
  padding:6px 10px;
}

#verify .not_verify > button:hover{
  background-color: var(--Primay-light);
}

#verify .verified > button{
  background-color: var(--BE-Box);
  cursor: not-allowed;
}


/* box_wrap */
.box_wrap{
  margin-top:20px;
  padding:0 20px;
  display: flex;
  flex-direction: row;
}
.box_wrap > div {
  padding:20px;
  border-radius: 8px;
  background:var(--BE-Box);
  height:114px;
}
.box_wrap div > button{
  height:66px;
  padding-left:10px;
  padding-right:10px;
  position: relative;
  background-color: var(--Primay);
  display: block;
  box-shadow: 0 8px 0 var(--Primay-dark);
}
.box_wrap div > button:active{
  box-shadow: 0 4px 0 var(--Primay-dark);
  top: 6px;
}


/* Choices */
.box_wrap .Choices{
  flex-grow: 1;
  margin-right: 20px;
}
.box_wrap .Choices > button{
  width:156px;
  float: left;
}

.box_wrap .Choices > span.address{
  float: left;
  margin-left:8px;
  font-family:'roboto', sans-serif;
  font-size:0.75rem;
}
.box_wrap .Choices > div{
  float: right;
  width:260px;
}
.box_wrap .Choices > div > img{
  float: left;
  margin-right:10px;
}
.box_wrap .Choices > div > p {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  flex-wrap: wrap;
 }
.box_wrap .Choices > div > p > span{
  word-break:break-all;
}
.box_wrap .Choices > div > p > span:nth-child(2){
  font-size:0.75rem;
}


/* ready */
.box_wrap .ready > button{
  width:260px;
  font-size:2rem;
}

.msg_box{
  position: absolute;
  top:52%; left:0; right:0;
  transform:translateY(-50%);
  background: var(--BK-Box);
  height:200px;
  z-index: 50;
  color:#fff;
}
.msg_box > div,
#msg_box_result > div{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.msg_box > div > h3{
  font-size: 2.5rem;
}
.msg_box > div.msg_count > h3,
.msg_box > div.msg_result > h3{
  font-size: 5rem;
  line-height: 1.2;
}
.msg_box > div > p{
  font-size: 1.5rem;
}

/* 글자 나타나기 */
.box_wrap .ready > div > div,
.msg_box > div > h3{
  transform: translateX(-300px);
  animation:txt1 0.3s forwards;
}
@keyframes txt1 {
  80% {transform: translateX(40px); }
  100% {transform: translateX(0); }
}
.msg_box > div > p{
  transform: translateX(-300px);
  animation:txt2 0.3s forwards;
}
@keyframes txt2 {
  60% {transform: translateX(40px); }
  80%, 100% {transform: translateX(0); }
}

/* loader */
.box_wrap .ready > div > div > div.loader,
.box_wrap .ready > div > div > div.loader:before,
.box_wrap .ready > div > div > div.loader:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.box_wrap .ready > div > div > div.loader {
  color: #fff;
  font-size: 10px;
  margin: 0 auto 40px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.box_wrap .ready > div > div > div.loader:before,
.box_wrap .ready > div > div > div.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.box_wrap .ready > div > div > div.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.box_wrap .ready > div > div > div.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


#game_warp{
  position: relative;
  z-index: 10;
  float: left;
  width:100%;
  padding-top:50px;
  background:url(img/bg2.jpg)no-repeat center 310px;
}
span.tableImg{
  position: absolute; top:0; bottom:0; left:0; right:0;
  background:url(img/table.png)no-repeat;
  background-position: center 252px;
  background-size: 740px;
  z-index: 1;
}

#game{position: relative; z-index: 2;}



/* tv */
.tv{
  position: relative;
  width:520px; height:295px;
  margin:0 auto;
  background: url(img/TV.png)no-repeat center center / cover;
}
.tv #tv_inner{
  width:336px;
  height:202px;
  background:rgba(255,255,255,0.5);
  position: absolute;
  top:40px; left:38px;
  border-radius: 20px;
  overflow: hidden;
}

.tv #tv_inner > div{
  width:50%;
  height:100%;
  padding:10px 14px;
  position: relative;
  background:#060606;
}
.tv #tv_inner > div.player{float: left;}
.tv #tv_inner > div.you{float: right;}

.tv #tv_inner > div::before{
  z-index: 20;
  content: '';
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  opacity: 0.3;
}
.tv #tv_inner > div.player::before{
  background: url(img/man.png)no-repeat;
  background-position: -44px 56px;
  background-size: 70%;
}
.tv #tv_inner > div.you::before{
  background: url(img/woman.png)no-repeat;
  background-position: 89px 56px;
  background-size: 70%;
}

.tv #tv_inner > div > h6{
  font-size:1rem;
  color:rgb(226, 238, 95);
  z-index: 21;
}
.tv #tv_inner > div.player > h6{text-align: left;}
.tv #tv_inner > div.you > h6{text-align: right;}

.tv #tv_inner > div > ol{
  z-index: 21;
  overflow: auto;
  margin-top:4px;
  display: flex;
  flex-direction: row;
}
.tv #tv_inner > div.you > ol{
  float: right;
  flex-direction:row-reverse;
}
.tv #tv_inner > div > ol > li{
  width:8px;
  height:8px;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}
.tv #tv_inner > div > ol > li.win_count{background:var(--pointcolor);}
.tv #tv_inner > div > ol > li:nth-child(2){margin:0 4px;}

.tv div div.hand_wrap{
  z-index: 21;
  overflow: auto;
  position: absolute;
  top:46px; bottom:0;
}
.tv div.player div.hand_wrap{
  left:6px; right:32px;
}
.tv div.you div.hand_wrap{
  left:32px; right:6px;
}

.tv div.hand_wrap > span{
  width:64px; height:64px;
  position: absolute;
  top:20%;
}
.tv div.hand_wrap > span.hand_left{left:0;}
.tv div.hand_wrap > span.hand_right{right:0;}

#tvimg_l{
  /* background:url(img/hand-scissors.png); */
  background-position: center center;
  background-size: cover;
}
#tvimg_r{
  /* background:url(img/hand-paper.png); */
  background-position: center center;
  background-size: cover;
}
#tvimg_you_l{
  /* background:url(img/hand-rock.png); */
  background-position: center center;
  background-size: cover;
}
#tvimg_you_r{
  /* background:url(img/hand-scissors.png); */
  background-position: center center;
  background-size: cover;
}

.tv div.hand_wrap > span.select{
  width:80px; height:80px;
  top:12%;
  transition: all 0.3s;
}

.tv #tv_inner::after{
  content: 'VS';
  font-size: 2rem;
  color:rgb(226, 238, 95);
  position: absolute;
  top:54%;
  left:50%;
  transform:translate(-50%, -50%);
}

#msg_box_result{
  position: absolute;
  top:0; left:0; bottom: 0; right:0;
  background: var(--BK-Box);
  color:#fff;
  z-index: 22;
}
#msg_box_result > div > p{
  font-size: 1rem;
}
#msg_box_result > div > h3{
  font-size: 5rem;
}

/* game_console */
.game_console{
  position: relative;
  width:390px; height:220px;
  margin:0 auto; margin-top:65px;
  background: url(img/game-console.png)no-repeat center center / cover;
}
.game_console > .game_console_btn{
  width:125px; height:125px;
  position: absolute;
  top:55px;
  border-radius: 100%;
  cursor: pointer;
}
.game_console > button > img{
  width:80px;
  position: absolute;
  top:22px;
  left:22px;
}
.game_console > .red{
  left:22px;
  background: url(img/btn-red.png)no-repeat center center / cover;
}
.game_console > .green{
  right:22px;
  background: url(img/btn-green.png)no-repeat  center center / cover;
}
.game_console > .red:active{
  background: url(img/btn-red-press.png)no-repeat  center center / cover;
}
.game_console > .green:active{
  background: url(img/btn-green-press.png)no-repeat  center center / cover;
}

/* points */
.points{
  display:flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin:0 20px 30px 0;
  padding:8px 20px;
  border-radius: 8px;
  background:var(--BE-Box);
}
.points > span{
  margin-right:8px;
  width:32px; height:32px;
}




@media screen and (max-width: 900px) {
  header{padding-top:8%;  }
  header > a > img{width:40%; }

  #verify > div{ font-size: 0.875rem; }
  #verify button{
    font-size: 0.875rem;
    padding:10px;
  }

  .box_wrap{
    margin-top:20px;
    padding:0 15px;
    flex-direction: column;
  }
  .box_wrap div > button{
    padding:12px 10px;
    height:auto;
  }
  .msg_box > div.msg_count > h3,
  .msg_box > div.msg_result > h3{
    font-size: 3rem;
    line-height: 1.2;
  }
  .msg_box > div > p{
    font-size: 1.25rem;
  }

  /* loader */
  .box_wrap .ready > div > div > div.loader,
  .box_wrap .ready > div > div > div.loader:before,
  .box_wrap .ready > div > div > div.loader:after {
    width: 0.75em;
    height: 0.75em;
  }
  .box_wrap .ready > div > div > div.loader {
    font-size: 8px;
    margin: 0 auto 30px auto;
  }

  .box_wrap .Choices{
    margin-bottom: 10px;
    margin-right:0;
    height:auto;
  }
  .box_wrap .Choices > button{width:100%;  }

  .box_wrap .ready > button{
    width:100%;
    font-size:1.5rem;
  }
  .box_wrap .Choices > span.address{
    width:100%;
    margin-top:12px;
    margin-left:0;
    font-family:'roboto', sans-serif;
    font-size:0.75rem;
  }

  .box_wrap .Choices > div{
    float: left;
    margin-top:10px;
   }
  .box_wrap .Choices > div > p{ margin-left: 8px;  }

  #game_warp{
    padding-top:30px;
    background-position: center 176px;
  }
  span.tableImg{
    background-position: center 140px;
    background-size: 360px;
  }

  .msg_box{
    top:50%;
    height:100px;
  }
  .msg_box > div > h3{ font-size:2rem;}

  /* tv */
  .tv{
    width:270px; height:153px;
  }

  .tv #tv_inner{
    width:174px;
    height:106px;
    background:rgba(255,255,255,0.5);
    position: absolute;
    top:20px; left:20px;
    border-radius: 10px;
    overflow: hidden;
  }
  .tv #tv_inner > div.player::before{
    background-position: -12px 25px;
    background-size: 76%;
  }
  .tv #tv_inner > div.you::before{
    background-position: 40px 25px;
    background-size: 70%;
  }

  .tv #tv_inner > div{
    padding:3%;
  }
  .tv #tv_inner > div > h6{
    font-size:0.875rem;
  }
  .tv #tv_inner > div > ol > li{
    width:6px;
    height:6px;
  }

  .tv div div.hand_wrap{
    top:50px;
  }
  .tv div.player div.hand_wrap{
    left:0; right:20px;
  }
  .tv div.you div.hand_wrap{
    left:20px; right:0;
  }

  .tv div.hand_wrap > span{
    display: block;
    width:36px; height:36px;
    top:0;
  }

  .tv #tv_inner::after{
    font-size: 1.25rem;
    top:64%;
  }

  #msg_box_result > div > p{
    font-size: 0.875rem;
  }
  #msg_box_result > div > h3{
    font-size: 2.5rem;
  }




  /* game_console */
  .game_console{
    width:270px; height:152px;
    margin-top:30px;
  }
  .game_console > .game_console_btn{
    width:86px; height:86px;
    position: absolute;
    top:38px;
    border-radius: 100%;
    cursor: pointer;
  }
  .game_console > button > img{
    width:52px;
    position: absolute;
    top:18px;
    left:18px;
  }
  .game_console > .red{
    left:16px;
  }
  .game_console > .green{
    right:16px;
  }

  /* points */
  .points{
    margin:15px;
    padding:4px 10px;
  }
  .points > span{ font-size: 0.875rem;  }

}
